:root{
    --primary-color:coral;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar ul{
    list-style: none;
}
#navbar ul li{
    color: #333;
    padding: 1rem;
    display: inline-block;
    position: relative;
}
#navbar ul li a{
    color: #333;
    text-decoration: none;
}
#navbar ul li ul{
    display: none;
}
#navbar ul li:hover{
    cursor: pointer;
    background:var(--primary-color);
    color: #fff;
}
#navbar ul li:hover a{
    color: #fff;
}
/* nesed dropdown show */
#navbar ul li:hover ul{
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 1rem;
}
#navbar ul li:hover ul li{
    display: block;
    background: #e7e7e7;
}
#navbar ul li:hover ul li a{
    color: #333;
}
#navbar ul li:hover ul li:hover{
    background: #e0e0e0;
    color:inherit;
}
#navbar ul li:hover ul li span{
    float: right;
    background:var(--primary-color);
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    padding:2px 5px;
    text-align: center;
}
#navbar ul li:hover ul li:hover span{
    background: chocolate;
}
#showcase{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background: var(--primary-color);
    flex-direction: column;
}
#showcase h2{
    color: #fff;
    font-size: 50px;
}
footer{
    text-align: center;background: #e7e7e7;
    height: 20px;
    font-size: 10px;
}
footer p{
    margin-top:5px;
}